.main-heading{
        font-family: 'Press Start 2P', cursive;
        font-size:48px
    }
    body{
        text-align: center;
        margin:10%;
        font-family: 'Orbitron', sans-serif;
        background-color: black;
        color:white;
    }
    .text{
        font-size: 24px;
        margin:5%;
    }
    #num{
        font-size: 50px;
        width:200px;
        height: 100px;    
    }

    #submit-btn{
        border-radius: 16px;
        font-size: 24px;
        padding:1%;
        color:white;
        box-shadow: 4px 8px 4px 1px rgba(255,255,255,0.5);
        margin-top:10%;
        background-color: black;
        border:2px solid white;
    }
    #submit-btn:focus{
        box-shadow: inset 4px 8px 4px 1px rgba(255,255,255,0.5);
    }
