*{
    /*Adding a reset to all items*/
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image:url("../images/pingpong/tabletennis.jpg");
}
.banner{
    font-size: 25px;
    font-style: italic;
}
#pingpong{
   position: absolute;
   top: 20%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%);
}
#btn_1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #btn_1:hover{
    background: red;
}
