
* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
    color:white;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
  top:50%;
  left:10%;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
.fa-moon {
	color: white;
}
.fa-sun {
	color: #f39c12;
  font-size: 12px;

}
.display-4{
    font-size: 30px;
}
.game div:hover{
    transform: scale(1.1);
    transition: 1s;
}
.img{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#but:hover{
    background-color: crimson;
}
#print {
    font-family: Verdana,Geneva, Tahoma, sans-serif;
    color: crimson;
    font-size: 25px;
    font-weight: bold;
}
#main {
    text-align: center;
}
#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}
canvas{
    width: 100%;
    height: auto;
}