@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

html[data-theme="light"] {
  --col-icon: black;
  --col-bd-radius: rgb(2, 2, 2);
  --col-box-shadow: #000000 2px 2px 4px, #4d4d4d -2px -2px 4px;
  --col-box-shadow-hover: inset #8a7373 2px 2px 4px, inset #4d4d4d -2px -2px 4px;
  --col-bd-icon: transparent;
  --bg-icon: #fff;
  --bg1-color: #fff;
  --shadow-col: rgba(0, 0, 0, 0.3);
}

.image {
  width: 60px;
  height: 59px;
}

.image:hover {
  transform: scale(1.2);
  transition: 0.5s all ease-in-out;
}

.nav-link {
  font-size: 18px;
  width: 100%;
  color: #8a7373;
  margin-right: 20%;
  padding-right: 20%;
}

.nav-item:hover {
  transform: scale(1.2);
  transition: 0.5s all ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 30px;
  text-transform: uppercase;
}

.navbar-brand:hover {
  transform: scale(1.2);
  transition: 0.5s all ease-in-out;
  font-family: "Zen Tokyo Zoo", cursive;
  padding-left: 9px;
}

html[data-theme="dark"] {
  --col-icon: white;
  --col-bd-radius: black;
  --col-bd-icon: transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
  --col-box-shadow-hover: inset rgba(255, 255, 255, 1) 2px 2px 4px,
    inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-white: #fff;
}

.dark_toggler {
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 40px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image 0.9s;
  box-shadow: 0px 2px 5px 1px gray;
  background-color: white;
}

.dark_toggler:before {
  content: "";
  position: absolute;
  top: 10;
  right: 5;
  left: 5;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50px;
  transition: all 0.9s;
  background-color: #f7ca33;
}

.dark_toggler:checked {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  transition: background-image 0.9s;
  background-color: #2b2a2a;
}

.dark_toggler:checked:before {
  transform: translate(150%);
  transition: all 0.9s;
  background-color: #ecf0f3;
}
/* end of dark mode toggle switch button */

html {
  background-color: #f6f6f6;
  transition: background-color 0.3s;
}

html[light-mode="dark"] {
  background-color: #141516;
  color: #ced4e2;
}

.dark-theme {
  background-color: #2b2a2a;
  transition: background-color 0.3s;
}

.dark-theme .jumbotron {
  background-color: #2b2a2a;
  transition: background-color 0.3s;
}

.dark-theme .mt-3 {
  color: white;
}

.dark-theme .navbar-nav .nav-link,
.dark-theme .navbar-nav .nav-link:hover,
.dark-theme .navbar-brand,
.dark-theme .navbar-brand:hover {
  color: white;
}

.dark-theme .display-4 {
  color: white;
}
.nav-link {
  margin-left: 30px;
  margin-right: 30px;
}

.display-4 {
  font-size: 30px;
}

.game div:hover {
  transform: scale(1.1);
  transition: 1s;
}

.img {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 52px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}

#but {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#but:hover {
  background-color: crimson;
}

#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
  font-size: 25px;
  font-weight: bold;
}

#main {
  text-align: center;
}

#ins {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: dodgerblue;
  font-size: 20px;
}

canvas {
  width: 100%;
  height: auto;
}

.game img{

  object-fit: contain; object-position: left bottom;
  align-self: center;
}

/* .img-desc {
  text-align: center;
} */
